streamlit
nbformat
nbconvert
openai
faiss-cpu
langchain
requests
PyPDF2
numpy
pandas
chromadb
onnxruntime
tqdm
langchain-chroma
coloredlogs
flatbuffers
protobuf
sympy
deprecated
python-dotenv
PyMuPDF
