streamlit
nbformat
nbconvert
openai
faiss-cpu
langchain
requests
PyPDF2
numpy==1.21.6
pandas
chromadb==0.2.0
onnxruntime
tqdm
langchain-chroma
coloredlogs
flatbuffers
protobuf
sympy
deprecated
python-dotenv
PyMuPDF
