streamlit
nbformat
nbconvert
openai
faiss-cpu
langchain
requests
PyPDF2
langchain-community
numpy
pandas
onnxruntime
tqdm
langchain-chroma
coloredlogs
flatbuffers
protobuf
sympy
deprecated
python-dotenv
PyMuPDF
langchain-openai
langchain-ollama
